@use '../../../../styles' as *;

.triggerRightReverse {
  flex-direction: row-reverse;
  justify-content: flex-start;
  gap: $spacing-md;
}

.triggerRight {
  align-items: flex-end;
  width: 100%;
}

.titleRight {
  text-align: right;
  font-size: $font-size-2xl;
  width: fit-content;
  margin-left: auto;
}

.metaRight {
  text-align: right;
  width: 100%;
}

.contentRight {
  border-left: none;
  @include gradient-border($gradient-accent-horizontal, 1px);
  border-top: none;
  border-left: none;
  border-bottom: none;
  text-align: right;
  margin-top: $spacing-xs;
}

.highlight {
  font-family: $font-heading;
  font-size: 1.3em;
  color: $color-accent;
  display: inline;
}
