@use '../../../../styles' as *;

.detailsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: $spacing-xs;
  column-gap: $spacing-lg;
  margin-top: $spacing-xs;
  justify-content: stretch;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  max-width: none;
  align-items: center;
}

.detailItem {
  display: contents;
}

.detailTitle {
  @include gradient-title($gradient-accent);
  margin-bottom: 0;
  grid-column: 1;
  min-width: 0;
  width: fit-content;
  justify-self: end;
  text-align: right;
  vertical-align: middle;
  font-size: $font-size-lg;
  margin-right: $spacing-xs;
  font-family: $font-heading;
}

.detailValue {
  @include gradient-title($gradient-text);
  width: 100%;
  grid-column: 2;
  vertical-align: middle;
  font-family: $font-display;
  font-size: $font-size-sm;
}
