@use '../../styles' as *;

.content {
  position: relative;
  overflow: hidden;
  display: flex;
  height: $content-height;
  gap: $spacing-sm;
}

.leftBlock,
.centerBlock,
.rightBlock {
  flex: 1;
  // border: 1px solid $color-accent;
  overflow: hidden;
  position: relative;
}