@use '../../styles' as *;

.content {
  position: relative;
  overflow: hidden;
  display: flex;
  height: $content-height;
  gap: $spacing-sm;
}

.leftBlock,
.centerBlock,
.rightBlock {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.leftBlock {
  padding-left: $spacing-sm;
}

// .centerBlock {
//   border: 1px solid $color-accent;
// }

.rightBlock {
  padding-right: $spacing-sm;
}