@use '../../styles' as *;

.content {
  height: $content-height;
  position: relative;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $spacing-sm;
  height: 100%;
  max-width: 100%;
  
  > * {
    border: 1px solid $color-accent;
  }
}