// ============================================
// PAGE LAYOUT
// ============================================

// Fragments
$header-height: 8vh;
$footer-height: 8vh;

// Content
$content-height: calc(100vh - $header-height);
$section-width: calc(100% / 3);