@use '../../styles' as *;

.block {
  min-height: 0;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  justify-content: space-between;

  @media (max-width: 768px) {
    min-height: calc(100vh - $header-height - $spacing-xl);
    height: auto;
    overflow: visible;
    gap: $spacing-xl;
  }

  h2 {
    margin-bottom: $spacing-lg;
    color: $color-accent;
  }

  p {
    color: $color-text;
  }
}

.marquee {
  height: fit-content;
  margin-top: 1rem;
  font-family: $font-heading;
  color: $color-text;
  font-size: $font-size-marquee;
  line-height: $line-height-staal-marquee;
  overflow: hidden;

  @media (max-width: 768px) {
    font-size: $font-size-2xl;
    margin-top: $spacing-md;
  }
}