@use '../../../../styles/colors.scss' as colors;
@use '../../../../styles/mixins.scss' as mixins;
@use '../../../../styles/fonts.scss' as fonts;
@use '../../../../styles/spacing.scss' as spacing;

.embla {
  display: flex;
  flex-direction: column;
  width: 100%;
  --slide-height: 19rem;
  --slide-size: 100%;
  gap: spacing.$spacing-sm;
  // border: 1px solid white;
}

.embla__viewport {
  flex: 1;
  overflow: hidden;
  border: 1px solid colors.$color-accent;
}

.display {
  display: flex;
  align-items: flex-end;
  gap: spacing.$spacing-xs;
}

.works_container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: spacing.$spacing-xs;
}

.square {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: colors.$color-accent;
}

.title {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  font-family: fonts.$font-heading;
  color: colors.$color-text;
  font-size: fonts.$font-size-5xl;
  line-height: fonts.$line-height-staal;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: 0;
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: 0;
}

.embla__slide__number {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 spacing.$spacing-xs var(--detail-medium-contrast);
  border-radius: spacing.$spacing-md;
  font-size: fonts.$font-size-4xl;
  font-weight: fonts.$font-weight-semibold;
  font-family: fonts.$font-heading;
  height: var(--slide-height);
}

.embla-thumbs {
  position: relative;
}

.embla-thumbs__viewport {
  overflow: visible;
}

.embla-thumbs__container {
  display: flex;
  flex-direction: row;
}

.embla-thumbs__slide {
  padding-left: var(--thumbs-slide-spacing);
}

.embla-thumbs__slide__number {
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  padding: 0 spacing.$spacing-sm;
  font-size: fonts.$font-size-lg;
  font-weight: fonts.$font-weight-semibold;
  font-family: fonts.$font-heading;
  color: var(--detail-high-contrast);
  height: var(--thumbs-slide-height);
}

.embla-thumbs__slide--selected .embla-thumbs__slide__number {
  color: colors.$color-accent;
  @include mixins.neon-glow(colors.$color-accent);
}

.embla-description {
  width: 100%;
}

.embla-description__viewport {
  overflow: hidden;
}

.embla-description__container {
  display: flex;
}

.embla-description__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla-description__text {
  text-align: center;
  font-family: fonts.$font-display;
  font-size: fonts.$font-size-sm;
  line-height: fonts.$line-height-relaxed;
  color: colors.$color-text;
  margin: 0;
  padding: 0;
}

