@use '../../../../styles' as *;

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $spacing-md;
  padding: 0 $spacing-md;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: not-allowed;
  filter: grayscale(1);
}
