@use '../../../../styles' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  display: flex;
  gap: $spacing-logo;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.icon {
  font-size: $font-size-lg;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: $spacing-lg;
  height: $spacing-lg;
}
