@use '../../../../styles' as *;

.marquee {
    width: 100%;
    height: fit-content;
  position: relative;
  height: auto;
  overflow: hidden;
  border: 1px solid white;
}

.track {
  display: inline-block;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 32s linear infinite;
}

.content {
  display: inline-block;
    height: 100%;
  font-family: $font-heading;
  font-size: $font-size-marquee;
  font-weight: $font-weight-regular;
  line-height: $line-height-staal;
  color: $color-text;
  padding-right: 2rem;
}

@keyframes marquee {
  from { 
    transform: translateX(0); 
  }
  to { 
    transform: translateX(-50%); 
  }
}
