@use '../../../styles/colors.scss' as *;
@use '../../../styles/spacing.scss' as *;

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
  // border: 1px solid white;
}

.socialContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $spacing-3xl;
}

.socialIcon {
  font-size: 1.25rem;
  color: $color-accent;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.4s ease;
  position: relative;
  text-decoration: none;
  box-shadow: 0 0 10px $color-accent;
  border: 2px solid $color-accent;

  &:hover {
    transform: scale(1.2);
    background-color: $color-accent;
    color: $color-bg;
    box-shadow: 0 0 15px $color-accent, 0 0 30px $color-accent;
    border-color: $color-accent;
  }
}
