@use '../../../styles/colors.scss' as colors;
@use '../../../styles/mixins.scss' as mixins;
@use '../../../styles/fonts.scss' as fonts;
@use '../../../styles/spacing.scss' as spacing;

.embla {
  width: 100%;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.embla__viewport {
flex: 1;
  overflow: hidden;
  border: 1px solid colors.$color-accent;
}

.display {
  display: flex;
  align-items: flex-end;
  gap: spacing.$spacing-xs;
}

.works_container {
  display: flex;
  height: var(--slide-height);
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: spacing.$spacing-xs;

}

.square {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: colors.$color-accent;
}

.title {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    font-family: fonts.$font-heading;
    color: colors.$color-text; 
    font-size: fonts.$font-size-5xl;
    line-height: fonts.$line-height-staal;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: 0;
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: 0;
  
  &:last-child {
    border-right: none;
  }
}

.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  font-family: fonts.$font-heading;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}
.embla-thumbs {
  --thumbs-slide-spacing: 0.8rem;
  --thumbs-slide-height: 3rem;
  position: relative;
}
.embla-thumbs__viewport {
  overflow: visible;
}
.embla-thumbs__container {
  display: flex;
  flex-direction: row;
  margin-left: 0;
}
.embla-thumbs__slide {
  flex: 0 0 auto;
  min-width: 0;
  padding-left: var(--thumbs-slide-spacing);
}
@media (min-width: 576px) {
  .embla-thumbs__slide {
    flex: 0 0 auto;
  }
}
.embla-thumbs__slide__number {
  border-radius: 0;
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0 1rem;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: fonts.$font-heading;
  color: var(--detail-high-contrast);
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--thumbs-slide-height);
  white-space: nowrap;
  min-width: fit-content;
}
.embla-thumbs__slide--selected .embla-thumbs__slide__number {
  color: colors.$color-accent;
  @include mixins.neon-glow(colors.$color-accent);
}

