@use '../../../styles/spacing.scss' as spacing;
@use '../../../styles/fonts.scss' as fonts;
@use '../../../styles/colors.scss' as colors;

.logo_container {
    width: 100%;

    display: flex;
    height: fit-content;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    
    gap: spacing.$spacing-sm;
}

.img_container {
    width: 100%;

    display: flex;
    position: relative;
    padding-right: spacing.$spacing-md;
}

.logo_image {
    width: 100%;
    height: 100%;

    position: absolute;
    object-fit: cover;
}

.logo_title {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    border-left: 10px solid colors.$color-accent;
    padding-left: spacing.$spacing-md;
}

.logo_title_1 {
    display: grid;
    grid-template-columns: auto auto;
    align-items: end;

    gap: spacing.$spacing-xs;
}

.text_1 {
    width: fit-content;
    height: fit-content;
    text-align: right;

    font-family: fonts.$font-heading;
    color: colors.$color-text;
    font-size: fonts.$font-size-4xl;
    line-height: fonts.$line-height-minimal;
}

.eye {
    aspect-ratio: 1 / 1;

    align-self: stretch;

    background-color: colors.$color-accent;
}

.text_2 {
    width: fit-content;
    height: fit-content;
    text-align: right;

    font-family: fonts.$font-display;
    color: colors.$color-accent;
    font-size: fonts.$font-size-5xl;
    line-height: fonts.$line-height-minimal;
    letter-spacing: -0.03em;
}