@use '../../styles' as *;

.block {
  @include flex-column-center;
  height: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;

  h2 {
    margin-bottom: $spacing-lg;
    color: $color-accent;
  }

  p {
    color: $color-text;
  }

  .image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}