@use '../../styles' as *;

.block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  gap: $spacing-md;

  h2 {
    margin-bottom: $spacing-lg;
    color: $color-accent;
  }

  p {
    color: $color-text;
  }

  .image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}