@use '../../styles' as *;

.block {
  min-height: 0;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  justify-content: space-between;

  h2 {
    margin-bottom: $spacing-lg;
    color: $color-accent;
  }

  p {
    color: $color-text;
  }
}