@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/spacing.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/transitions.scss';
@import '../../styles/layout.scss';
@import '../../styles/mixins.scss';
@import '../../styles/radius.scss';

.block {
  @include flex-column-center;
  height: 100%;
  text-align: center;

  h2 {
    margin-bottom: $spacing-lg;
    color: $color-accent;
  }

  p {
    color: $color-text;
  }
}