@use '../../styles' as *;

.block {
  @include flex-column-center;
  height: 100%;
  text-align: center;

  h2 {
    margin-bottom: $spacing-lg;
    color: $color-accent;
  }

  p {
    color: $color-text;
  }
}