@use '../../styles' as *;

.block {
  min-height: 0;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  overflow: visible;

  // border: 1px solid $color-accent;

  justify-content: space-between;

  h2 {
    color: $color-accent;
  }

  p {
    color: $color-text;
  }
}

.center {
  justify-content: flex-start;
  overflow: visible;
  gap: $spacing-lg;
  align-items: flex-start;
}

.experiencesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  contain: layout;
  width: 100%;
  
  h2 {
    font-family: $font-display;
    font-size: $font-size-5xl;
    line-height: $line-height-amarante-resume;
  }

  .description {
  font-family: $font-display;
  font-size: $font-size-sm;
  color: $color-text;
  text-align: justify;
  line-height: $line-height-relaxed;
  padding: 0 $spacing-md;
  margin-bottom: 0;
}
}