@use '../../styles' as *;

.block {
  min-height: 0;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  overflow: visible;

  justify-content: flex-start;

  h2 {
    color: $color-accent;
  }

  p {
    color: $color-text;
  }
}

.center {
  display: flex;
  justify-content: flex-start;
  padding: $spacing-lg $spacing-md;
  gap: $spacing-xl;
  overflow: visible;
  align-items: flex-end;
}

.right {
  display: flex;
  border: 1px solid $color-accent;
  flex-direction: column;
  height: 100%;
}

.sectionTitle {
  color: $color-accent;
  font-size: $font-size-3xl;
  font-family: $font-display;
  margin-bottom: $spacing-xs;
}

.innerContent {
  text-align: right;
}