@use '../../../../styles/colors.scss' as *;
@use '../../../../styles/fonts.scss' as *;
@use '../../../../styles/spacing.scss' as *;

.container {
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: flex-end;
  gap: $spacing-md;
}

.iconRow {
  width: auto;
  display: flex;
  align-items: center;
  position: relative;
  isolation: isolate;
  margin-right: $spacing-lg;
  gap: $spacing-md;
}