@use '../../styles' as *;

.blockWrapper {
  min-width: 0;
  min-height: 0;
  width: 100%;
  height: 100%;
  
  position: relative;
  overflow: hidden;
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  position: absolute;
  pointer-events: none;

  background-color: $color-accent;
}