@use '../../../../styles/colors.scss' as *;
@use '../../../../styles/fonts.scss' as *;
@use '../../../../styles/spacing.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: center;
  gap: $spacing-xs;
}

.iconRow {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  isolation: isolate;
  margin-left: $spacing-xl;
  gap: $spacing-md;
}