@use '../../../../styles' as *;

button,
h3 {
    all: unset;
}

.AccordionRoot {
    width: 100%;
    max-width: 100%;
    // min-height: 340px;
    box-sizing: border-box;
    background-color: transparent;
}

.AccordionItem {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 1px;
    margin-top: $spacing-md;
    position: relative;
}

.AccordionItem:first-child {
    margin-top: 0;
}

.AccordionItem:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.AccordionItem:focus-within {
    position: relative;
    z-index: 1;
}

.AccordionHeader {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0;
}

.AccordionTrigger {
    width: 100%;
    flex: 1;
    box-sizing: border-box;
    font-family: inherit;
    background-color: transparent;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $font-size-big;
    color: $color-text;
}

.AccordionTrigger:hover {
    background-color: transparent;
    color: $color-text;
}

.triggerInner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    font-family: $font-heading;
    color: $color-text;
    font-size: $font-size-xl;
    font-weight: $font-weight-semibold;
    line-height: $line-height-amarante-resume;
}

.meta {
    font-size: $font-size-sm;
    color: $color-text;
    margin-top: $spacing-xs;
}

.AccordionContent {
    overflow: hidden;
    background-color: transparent;
    font-size: $font-size-sm;
    color: $color-text;
    font-family: $font-display;
}

.AccordionContent[data-state="open"] {
    animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionContent[data-state="closed"] {
    animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionContentText {
    border-left: 1px solid $color-accent;
    padding: 0 $spacing-xs;
    margin-top: $spacing-xs;
    font-size: $font-size-sm;
}

.AccordionChevron {
    color: $color-accent;
    transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionTrigger[data-state="open"] > .AccordionChevron {
    transform: rotate(180deg);
}

.AccordionTrigger[data-state="open"] .title {
    color: $color-accent-dark;
}

@keyframes slideDown {
    from {
        height: 0;
    }
    to {
        height: var(--radix-accordion-content-height);
    }
}

@keyframes slideUp {
    from {
        height: var(--radix-accordion-content-height);
    }
    to {
        height: 0;
    }
}