@use '../../styles' as *;

.pageTransition {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-accent;
  z-index: 10;
  pointer-events: none;
}