@use '../../../../styles/colors.scss' as *;
@use '../../../../styles/fonts.scss' as *;


.embla {
  position: relative;
  width: 100%;
  margin: 0 auto;
  // border: 1px solid white;
}

.emblaViewport {
  overflow: hidden;
  width: 100%;
}

.emblaContainer {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  border-radius: 1rem;
  background: none;
}

.emblaSlide {
  position: relative;
  min-width: 300px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideNumber {
  font-size: 3rem;
  font-weight: bold;
  transition: transform 0.3s;
  color: $color-text;
}

.emblaControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  justify-content: space-between;
  width: 100%;
}

.emblaButtons {
  display: flex;
  gap: 1rem;
}

.emblaDots {
  display: flex;
  gap: 0.5rem;
}

.emblaDot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: none;
  border: 1px solid $color-accent;
  cursor: pointer;
  transition: background 0.3s, border-color 0.3s;
}

.emblaDotSelected {
  background: $color-accent;
  border-color: $color-accent;
}

.embla__button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  transition: color 0.2s;
  font-size: 0;
}

.embla__button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.embla__button__svg,
.emblaButtonSvg {
  width: 20px;
  height: 15px;
  display: block;
  fill: $color-accent;
}

.emblaButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-accent;
  transition: color 0.2s;
  font-size: 0;
}

.emblaButton:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.emblaButtonPrev {
  /* Optionnel: positionner à gauche si besoin */
}

.emblaButtonNext {
  /* Optionnel: positionner à droite si besoin */
}
