@use '../../../../styles' as *;

.introduction {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
}

.text { @include gradient-title($gradient-text);
  margin-bottom: 0;
  text-align: justify;
  padding: 0 $spacing-md;
  font-family: $font-display;
  font-size: $font-size-sm;
  line-height: $line-height-relaxed;
}
