// ============================================
// PAGE LAYOUT
// ============================================

// Fragments
$header-height: 8vh;
$footer-height: 8vh;

// Content
$content-height: 84vh;
$section-width: calc(100% / 3);